
:root{
    --main-color: #398832;
    --black: #13131a;
    --bg: #010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    /*background-color: #F66B30;*/
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:  .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 5rem;
}

.header{
    background: rgb(34,195,100);
    background: linear-gradient(180deg, rgba(34,195,100,1) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 1%;
}

.header img{
    height: 6vh;
    transform: rotate(350deg);
    position: fixed;
    top: 0.8vh;
    left: 2vh;
    z-index: 1500;
}
.header .navbar{
    margin-right: 17vh;
}
.header .navbar a{
    margin: 0 1vh;
    font-size: 1.8vh;
    color: #fff
}
.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1vh solid var(--main-color);
    padding-bottom: .3vh;
    text-decoration: none;
}

.qr-codes-holder{
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    z-index: 10;
}
.qr-codes-holder img{
    width: 21vh;

}
.maindiv{
    background: rgb(34,195,100);
    background: linear-gradient(0deg, rgba(34,195,100,1) 0%, rgba(253,187,45,1) 100%);
}
.text-delivery{
    width: 35vh;
    margin: auto;
    font-size: 5vh;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

/*form*/

.form-group{
    margin-bottom: 15px;
}
label{
    margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}
.input-group {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    border-radius: 3px 3px;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-form{

    margin-top: 30px;
    margin: 0 auto;
    min-width: 500px;
    /*max-width: 600px;*/
    padding: 10px 40px;
    color: #000000;
    text-shadow: none;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    margin-left: 3vh!important;
    width: 30%;
}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}
.login-button{
    margin-top: 5px;
}
.container{
    margin:auto;
    margin-top: 5vh!important;
    margin-bottom: 5vh;
    width: 80%!important;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5vh;
}
.terms-holder{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;    width: 50%;
    margin-left: 25%;
    margin-bottom: 10vh;
    background: rgb(222,238,190);
    background: radial-gradient(circle, rgba(222,238,190,1) 0%, rgba(160,246,152,1) 100%);
    padding: 4vh;
    border-radius: 20px;
}
.terms-holder ul{
    padding-left: 2.2vh;
}
.terms-holder ul li{
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.container img{
    width: 68%;
    margin-left: 15px;
}
.form-group .btn:hover{
    letter-spacing: 3px;
}

@media (max-width: 991px){

    .terms-holder ul li{
        font-size: 2.5vh;
        margin-bottom: 0.7vh;
    }
    .text-delivery{
        font-size: 4vh;
    }
    .terms-holder{
        width: 85%;
        margin-left: 6%;
        padding: 1.5vh;
        margin-bottom: 5vh;
    }
    .qr-codes-holder{
        display: none;
    }
    .dit{
        display: none;
    }
    .container img{
        width: 90%;
        margin-left: 0px;
        margin-top: 0.8vh;
    }
    .container{
        width: 100%;
        margin-top: 3vh!important;
        margin-bottom: 1.5vh;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }
    .main-form{
        margin-left:0vh!important;
        width: 90%;
    }
    .header .navbar{
        margin-right: 1.8vh;
    }
    .header .navbar a{
        font-size: 1.7vh;
    }
    .text-work-bodo{
        font-size: 1.7vh;
    }
}

/*bodowork html*/

.bodo-work-img{
    padding-top: 5.5vh;
    border-bottom: 1px solid;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.bodo-work-img img{
    padding-bottom: 4vh;
    width: 30%;
}

.text-work-bodo{

    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 2vh;
}

/*bodowork html*/

.card-wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 60%;
    margin-bottom: 2vh;
}
.card-holder{
    width: 32%;
    height: 100%;
    border: 2px solid;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background: rgb(222,238,190);
    background: radial-gradient(circle, rgba(222,238,190,1) 0%, rgba(160,246,152,1) 100%);
    border-radius: 20px;
}
.card-name{
    padding-bottom: 0.5vh;
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 3vh;
    border-bottom: 1px solid;
    margin-bottom: 4vh;
}
.card-desc{
    padding-left: 1.2vh;

    width: 85%;
    margin: auto;
    height: 60%;

}
.card-desc ul li{
    margin-bottom: 2vh;
    font-size: 2vh;
}
.card-holder .button-holder button{
    border-radius: 10px;
    width: 70%;
    background: rgb(255, 126, 44);
    border: none;
    color: white;
    padding: 16px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.2vh;
    transition:background 1s;
    cursor: pointer;
    align-self:flex-end;
}
.button-holder{
    margin: auto;
    width: 80%;
    justify-content: center;


}
.card-holder button:hover{
    background: rgb(212,238,174);
    background: radial-gradient(circle, rgba(212,238,174,1) 0%, rgba(233,216,148,1) 100%);
    color: white;
}
@media (max-width: 991px){
    .card-name{
        font-size: 1.9vh;
    }
    .card-holder{
        width: 45%;
    }
    .card-desc ul li{
        font-size: 1.7vh;
    }
    .card-holder .button-holder button{
        width: 90%;
        font-size: 1.7vh;
        margin-top: 2vh;
    }
}