
.maindivbot {
    width: 100%;
    height: 25vh;
    background-color: white;
}

.line{
    height: 0.5vh;
    width: 100%;
    background-color: #eeeead;
}

/*.image img{*/
/*    height: 50%;*/
/*}*/

.maindiv {
    display: flex;
}

.image {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 15vh;
}

.rightdiv {
    width: 30%;
    padding-top: 11vh;
}

#big {
    font-size: 6vh;
}

.rightdiv {
    font-size: 3vh;
    width: auto;
}

.maindivbottoptext {
    width: 100%;
    padding-top: 5vh;
    height: auto;
    text-align: center;
    padding-bottom:5vh;
}

.maindivbot {
    display: flex;
    padding-top: 5vh;
    height: auto;
    padding-bottom: 5vh;
}

.left {
    display: none;
    transform: translateX(-300px);
    opacity: 0;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    height: auto;
    transition: opacity 0.5s;
    transition: transform 0.5s;
    transition-timing-function: ease-in;
}

.right {
    display: none;
    transform: translateX(300px);
    opacity: 0;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    height: auto;
    transition: opacity 0.5s;
    transition: transform 0.5s;
    transition-timing-function: ease-in;
}

.fadeIn {
    /*margin-left: 20vh;*/
    display: flex;
    opacity: 1;
    transform: translateX(0px);
}

.footer{
    height: auto;
    background: rgb(193,163,30);
    background: radial-gradient(circle, rgba(193,163,30,1) 0%, rgba(190,233,148,1) 100%);
    display: flex;
    align-items: flex-end;

}

.media {
    display: flex;
}
.footer .wrapper{
    margin: auto;
    display: block;
}
.terms  a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    margin-left: 35%;
    font-size: 2vh;
    cursor: pointer ;
}
.mediaicon {
    display: flex;
    height: 8vh;
    width: 8vh;
    background: rgb(168,129,5);
    background: linear-gradient(48deg, rgba(168,129,5,1) 0%, rgba(9,121,32,1) 47%, rgba(247,255,0,1) 100%);
    border-radius: 50%;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    margin-bottom: 2.5vh;
    justify-content: center;
    align-items: center;
}

.mediaicon:hover {
    background: rgb(168,129,5);
    background: linear-gradient(48deg, rgba(168, 129, 5, 0.5) 0%, rgba(9,121,32,0.5) 47%, rgba(247,255,0,0.5) 100%);
}

#animtexttop {
    transform: translateX(400px);
    font-size: 6vh;
    transition: transform 1.7s;
}

#animtextmiddle {
    transform: translateX(400px);
    transition: transform 2s;
}

#animtextbot {
    transform: translateX(400px);
    transition: transform 2.3s;
}

.map {
    display: flex;
}

.buttonsmap {
    width: 30%;
    background-color: #ffffff;
    height: 80vh;
}

.mapimage {
    width: 70%;
    background-color: #ffffff;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mapimage img {
    width: 100%;
    height: 100%;
}

.buttonsmap {
    display: flex;
    flex-wrap: wrap;
}

.buttonsmap button {
    border-radius: 10px;
    height: auto;
    width: 100%;
    background: rgb(255, 130, 28);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5vh;
    margin: 3vh;
    transition:background 1s;
    cursor: pointer;
}

.buttonsmap button:hover {
    background: rgb(212,238,174);
    background: radial-gradient(circle, rgba(212,238,174,1) 0%, rgba(233,216,148,1) 100%);
    color: white;
}
.maindivbot .headerstext{
    margin-bottom: 1.2vh;

}

.buttons {
    display: none;
}

@media (max-width: 980px) {
    .buttons{
        display: block;
    }
    .map {
        display: none;
    }
    #big {
        font-size: 2.5vh;
    }

    #animtexttop{
        font-size: 2.5vh;
        transform: translateX(0px);
    }

    #animtextbot{
        font-size: 1.5vh;
        margin-bottom: 1.5vh;
        transform: translateX(0px);
    }

    #animtextmiddle{
        font-size: 1.4vh;
        transform: translateX(0px);
    }

    .right{
        font-size: 1.5vh;
        transform: translateX(0px);
    }

    .left{
        font-size: 1.5vh;
        transform: translateX(0px);
    }
    .image {
        padding-right: 4vh;
    }

}







